body {
  font-family: "Poppins", sans-serif;
  background-image: url("/images/concrete_seamless.png");
  background-color: #f1f1f1;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nav_links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px 50px 0px 0px;
  width: 450px;
}

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card > header {
  background-color: #288088;
  border: 2px solid #45ADAD;
  padding: 20px 0px;
  border-radius: 50px 50px 0px 0px;
}

.gallery img{
  align-items: center;
  border: 10px solid #50C7C7;
  width: 300px;
  margin: 10px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#logo {
  animation: mymove 5s;
}
@keyframes mymove {
  from {width: 25px;}
  to {width: 475px;}
  from {opacity: 0;}
  to {opacity: 1;}
}



@media screen and (min-width: 900px) {
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_links {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: end;
  
}

.nav_links li{
  align-items: center;
}

.card {
  width: 275px;
}

body > header {
  position: fixed;
  width: 100%;
}

main {
  padding-top: 100px;
}

.pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
}

@media (prefers-reduced-motion) {
#logo {
  animation: none;
  width: 475px;
}
}

@media print and (orientation: portrait) {
body {
  font-family: Arial, Helvetica;
  background-image: none;
  background-color: #f1f1f1;
}
nav{
  width: 100%;;
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pricing {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.card {
  border: 2px solid #45ADDD;
  margin-bottom: 50px;
  flex-basis: 325px;
}

#gallery, .gallery{
  display: none;
}

.card ul li:nth-child(2)::after {
  content: '👍';
}
}